html {
    height: 100;
    width: 100;
  }
  
  background {
    background-color: #000000;
  }
  p {
      color: #D54040;
    }
  table {
      color: #D54040;
    }
  div {
      color: #D54040;
  }
  h4 {
    color: #D54040;
  }
  h3 {
  color: #D54040;
  }  
  h6 {
    color: #d54040;
  }